<header>
  <h2><%= t('user.edit.title').html_safe %></h2>
</header>
<section>
  <%= react_component 'Redux', { component: 'EditSelf', authenticityToken: form_authenticity_token, attributes: @user } %>
</section>
